In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import linear_model

In [2]:
df = pd.read_csv('homeprices2.csv')
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [3]:
na=df.bedrooms.median()

In [4]:
df.bedrooms = df.bedrooms.fillna(na)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [5]:
# data cleaned
# training machine

In [6]:
# creating linear regression model
reg = linear_model.LinearRegression()
reg.fit(df.drop('price', axis = 'columns'), df.price)

LinearRegression()

In [7]:
# 3 bedroom, 3000 SQft, 40 age
reg.predict([[3000,3,40]])

array([498408.25158031])

# Exercise

In [8]:
df1 = pd.read_csv('hiring.csv')
df1

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

Since we have experience in string number, we use WORD2NUMBER library

pip install word2number

In [2]:
from word2number import w2n
df1.experience = df1.experience.fillna(0)
df1

ModuleNotFoundError: No module named 'word2number'

In [ ]:
df1.experience = w2n.word_to_num(df1.experience)
df1